{
  "rules": {
    "at-rule-semicolon-newline-after": "always",
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always-multi-line",
    "block-opening-brace-newline-after": "always-multi-line",
    "block-opening-brace-space-after": "always",
    "block-opening-brace-space-before": "always",
    "color-hex-case": "lower",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "indentation": [
        "tab",
        {
            "except": [ "value" ]
        }
    ],
    "length-zero-no-unit": true,
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-newline-before": "never",
    "selector-list-comma-space-before": "never",
    "shorthand-property-no-redundant-values": true
  }
}