html,
body {
   height: $body-height;
}

.spinner {
    &--hidden {
        display: none;
    }
}

.skip {
    &--hidden {
        @include visuallyHidden(true);
    }
}

.container {
    background-color: $color-bg;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size-base;
    max-width: $container-width;
    min-height: $container-min-height;
    padding-bottom: $footer-height;
    position: relative;
    transition: opacity 1s ease-in-out;

    &--hidden {
        zoom: $container-hidden-zoom;
        opacity: $container-hidden-opacity;
    }
}

.main,
.aside,
.footer {
    margin: $base-margin;
}