// VARS
$breakpoint-mobile: 600px;

$font-family:     "Roboto";
$font-size-base:  16px;
$font-size-title: 24px;

$base-margin:  10px;
$base-padding: 10px;

$body-height: 100%;

$header-margin-height: $base-padding;
$header-margin-width:  0;

$tab-padding: 10px;
$tab-border:  1px solid $color-border;

$menu-width-one-el:   100%;
$menu-width-two-el:   50%;
$menu-width-three-el: 33.3333%;
$menu-width-four-el:  25%;
$menu-width-five-el:  20%;

$container-hidden-zoom:    1;
$container-hidden-opacity: 0;
$container-min-height:     100%;
$container-width:          1280px;

$footer-bottom:      0;
$footer-height:      20px;
$footer-line-height: $footer-height;
$footer-width:       100%;


// MIXINS
@mixin visuallyHidden($focusable: false) {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	@if ($focusable) {
		&:active,
		&:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
	}
}